* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* background-color: red ; */
  height: 100%;
  width: 30%;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  /* background-color: green; */
  width: 70%;
  height: 100%;
  align-items: center;
}

.right-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.right-nav ul li a {
  color: black;
  /* font-weight: bold; */
  cursor: pointer;
  text-decoration: none;
}
.grediant {
  /* font-size: 24px; */
  background: -webkit-linear-gradient(left, #f36c68, #f9a826);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span {
  /* color: #007bff; */
  font-size: 2.3rem;
}
.left-nav img{
    /* background-color: red; */
    height: 70px;
    width: 70px;
}

.right-nav hr{
    height: 50%;
    width: 2px;
    background-color: black;
    border: none;
    margin-inline: 20px;
}

.right-nav button {
  padding: 10px 20px;
  background:linear-gradient(to right, #f36c68, #f9a826);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bacnground {
  background-image: url("images/Picsart_25-07-20_21-37-29-877.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px; */
  /* background-color: red; */
  height: 100vh;
  width: 100%;
}
.right-hero {
    height: 100%;
    width: 50%;
  /* background-color: green; */
}

.left-hero {
  width: 50%;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* background-color: blue; */
}

.img-sec{
    width: 70%;
    height: 200px;
    /* background-color: green; */
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
}

.img-sec img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.admission-h1{
  /* font-size: 2rem; */
  color: black;
  width: 70%;
  /* background-color: yellow; */
}

.big{
    /* background-color: green; */
    font-size: 2.3rem;
    height: 100px;
    width: 70%;
    /* white-space: nowrap; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
 height: 100px;
  width: 70%;
  gap: 20px;
}

.button button {
  padding: 10px 20px;
  background: #f9a826;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 9px;
}

.button button:nth-child(2)  {
  background-color: white;
  color: #f9a826;
  border: 2px solid #f9a826;
}

/* Swiper container */
.swiper {
  width: 100%;
  height: 210px; /* Height of the slider */
  /* background-color: green; */
}

/* Each slide centers the card */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f36c68; */
}

/* Full-width cards */
.card {
  width: 100%;          /* Take full width */
  height: 150px;        /* Fixed height */
  /* background: red; */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.first-card-details{
    height: 50%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
}
.first-inner{
/* background-color: red; */
width: 30%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.first-inner img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.second-inner{
/* background-color: blue; */
font-size: 10px;
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;  
font-size: 0.8rem;  
}
.second-inner h1:nth-child(2){
    font-size: 1.2rem;
    font-weight: 10;
    
}
.second-card-details{
    height: 50%;
    width: 90%;
    /* background-color: aqua; */
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-card-details h2{
    font-weight:10;
}

.swiper-button-next{
    height: 67px;
    width: 67px;
    color: white;
    background-color: #f9a826;
    border-radius: 50%;
}
.swiper-button-prev{
    height: 67px;
    width: 67px;
    color: white;
    background-color: #f9a826;
    border-radius: 50%;
}


/* colleges section */

.colleges {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  justify-content: center;
}

.c-first {
  color: #909090;
  /* margin-top: 20px; */
  /* background-color: red; */
  width:90%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.c-first h1{
  font-size: 3rem;
  font-weight: 700;

}

.c-third{
 height: 100px;
 width: 90%;
 /* background-color: yellow; */
 display: flex;
 justify-content: center;
 align-items:center;
}

.c-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
  gap: 20px;
  /* background-color: green; */
}

.c-second img{
  height: 70px;
  width: 200px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  background-position: center;
}

.c-third a {
  text-decoration: none;
  color: #f9a826;
  font-weight: bold;
  font-size: 0.7rem;
   height: 50px;
  width: 130px;
  background-color: #fff;
  border: 2px solid #f9a826;
  border-radius:9px ;
  display: flex;
  justify-content: center;
  align-items: center;
}


